<div class="title">
  Chapter One...
</div>
<form class=" form-horizontal">
  <div class="container-fluid">
    <div class="header row">
      <h1 class="header__title  col-xs-12">Tell your story </h1>
      <div class="header__pitch container">
        <label class="col-sm-2 control-label" for="pitch">Pitch it:</label>
        <div class="header__pitch col-sm-10">
          <input class="form-control" placeholder=" Scientists can bounce messages from the future back to the present, but there's no guarantee they'll tell the truth..."
            name="pitch" type="text">
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="form-group">
      <label class="col-sm-2 control-label">Synopsis:</label>
      <div class="col-sm-10">
        <textarea rows="10" id="synopsis" class="form-control" name="synopsis" type="text" placeholder="Axiomatic is a collection of short stories solidly in the classical tradition of science fiction. While some of the stories are based on physics (and particularly quantum mechanics), I also draw on more recent work in molecular biology and computer science for inspiration. My stories are never pure technical gimmickry, either: the science is largely taken as given and it is the social, psychological and philosophical consequences which are explored. 
Some of the stories which I find particularly memorable: 'The Moral Virologist' is a black comedy in which a fundamentalist molecular biologist builds a virus which really will kill all adulterers and homosexuals (except that it can't cope with incest between identical twins); in 'Appropriate Love' a woman carries her husbands brain in her womb while a new body is being grown for him; and in 'Seeing' a victim of brain damage has his 'point of view' shifted so he is looking down on himself from above (though what he actually sees stays the same)."></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Chapter one:</label>
      <div class="col-sm-10">
        <textarea rows="10" id="chapter" class="form-control" name="chapter" type="text" placeholder="I was six years old when my parents told me that there was a small, dark jewel inside my skull, learning to be me.

Microscopic spiders had woven a fine golden web through my brain, so that the jewel's teacher could listen to the whisper of my thoughts. The jewel itself eavesdropped on my senses, and read the chemical messages carried in my bloodstream; it saw, heard, smelt, tasted and felt the world exactly as I did, while the teacher monitored its thoughts and compared them with my own. Whenever the jewel's thoughts were wrong, the teacher - faster than thought - rebuilt the jewel slightly, altering it this way and that, seeking out the changes that would make it's thoughts correct.

Why? So that when I could no longer be me, the jewel could do it for me..."></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">How do I contact you?</label>
      <div class="col-sm-10">
        <input id="contact" class="form-control" name="contact" type="text" placeholder="cassandra@gmail.com">
      </div>
    </div>
  <button class="btn btn-submit pull-right">Submit</button>
  </div>

</form>

<div class="thanks">
  Thanks! I'll be in touch.
</div>